<% provide(:title, "About") %>
<div class="row">
  <div class="col-md-9 main about-section">
    <h3>About this Blog</h3>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="about-text">
          ご訪問、ありがとうございます！<br>
          <br>
          このサイトはRailsチュートリアルの工程を元にRailsで1から作成したブログです。ありきたりですが、どんどん前進していきたいという気持ちを込めて、Progressと名付けました。<br>
          見た目も機能もまだまだですが、運営しながら進化させていきたいです！<br>
          <br>
          作者は2019年9月からプログラミングを勉強し始めて、現在はプログラミングスクールに通って、Webエンジニアになることを目指しています。<br>
          まだまだ初学者で、有益な情報を発信したりすることはできませんし、面白い文章も書けないです..。ですので、ブログというより日記のようになってしまいますが、プログラミング学習の進捗をアップすることで、モチベーションを高めることができればと思います。<br>
          <br>
          Railsチュートリアルで作ったログイン機能（メール認証付き）があり、記事にコメントを残していただけるようになります。もしよろしければコメントをいただけると嬉しいです。<br>
          （まだまだ改良途中ですので、機能が変更になってしまう可能性もあります。）
        </p>
        <br>
        <p class="text-right">サイト作成日：2019年11月</p>
      </div>
    </div>
  </div>
  <aside class="col-md-3">
    <%= render 'shared/user_info' %>  
    <%= render 'shared/aside_menu' %>  
  </aside>
</div>