<h1>Progress</h1>

<p><%= @user.name %>さん、ご登録ありがとうございます。</p>

<p>
下のリンクをクリックしていただくと、登録が完了して、ログインしていただけるようになります。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
