<h1>Progress</h1>

<p>
  <%= @user.name %>さん、当ブログをご利用いただきありがとうございます。
</p>

<p>下のリンクからパスワードリセット用画面に遷移していただくと、任意のパスワードを再設定することができます。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限はは2時間です。</p>

<p>もしパスワードをリセットされない場合は、このメールは無視していただいて構いません。現在のパスワードはそのままお使いいただけます。</p>