<li>
  <%= attachment_image_tag user, :profile_image, size: "60x60", format: 'jpeg', class: "", fallback: "no_image.png" %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?"} %>
  <% end %>
</li>