<li>
  <%= link_to user do %>
    <%= user.name %>
    <%= user_image(user) %>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "本当にユーザーを削除してよろしいですか？" } %>
  <% end %>
</li>