<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<% provide(:path_name, user_path(@user)) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 user-edit">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Update your profile</h2>
        <%= render'form' %>
      </div>
    </div>
  </div>
</div>