<% provide(:title, @user.name) %>
<% provide(:button_text, "Create my account") %>
<% provide(:path_name, signup_path) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 user-edit">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 signup">
        <h2>Sign up</h2>
        <p>
          登録により、記事にコメントを残すことができるようになります。<br>
          ※メールアドレスに送られるリンクをクリックしていただくと登録完了してログインできるようになります。
        </p>
        <%= render'form' %>
      </div>
    </div>
  </div>
</div>
