<% provide(:title, @user.name ) %>
<div class="row">
  <div class="col-md-9 main">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 intro-post">
        <% if @user.microposts.any? %>
          <h4><%= @user.microposts.first.title %></h4>
          <%= @user.microposts.first.content %>
        <% end %>
      </div>
    </div>
  </div>
  <aside class="col-md-3">
    <%= render 'shared/user_info', user: @user %>  
    <%= render 'shared/aside_menu' %>  
  </aside>
</div>