<%= link_to micropost_likes_path(@micropost, current_user.post_like(@micropost)), method: :post, remote: true, class: "heart-link" do %>
  <span class="glyphicon glyphicon-heart gray-heart"></span>
<% end %>