@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.clearfix::after {
  conetnt: "";
  display: block;
  clear: both;
}

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, Arial, "sans-serif";
}

li {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.container {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.header-container {
  height: 75px;
}
header {
  height: 75px;
  border-bottom: 2px solid gray;
}
.header-left {
  h1 {
    float: left;
    margin: 0;
    padding-top: 17px;
    padding-left: 15px;
    a {
      font-family: 'arial black', Courier, Montserrat, Helvetica, Arial, "sans-serif";
    }
  }
}
.header-right {
  ul {
    float: right;
    padding-right: 15px;
    margin: 0;
    li {
      line-height: 75px;
      font-size: 18px;
      float: left;
      padding-left: 20px;
    }
    .header-user {
      padding: 0;
      img {
        border: 2px solid silver;
        border-radius: 3.5px;
        margin-right: 5px;
        margin-left: 20px;
      }
    }
  }
}

footer {
  height: 55px;
  border-top: 2px solid gray;
  .footer {
    height: 55px;
    .footer-left {
      padding-left: 15px;
      margin: 0;
      font-size: 28px;
      line-height: 55px;
      float: left;
      font-family: 'arial black', Courier, Montserrat, Helvetica, Arial, "sans-serif";
    }
    .footer-right {
      float: right;
      line-height: 55px;
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

.alert {
  margin-top: 20px;
}

.body {
  padding-right: 15px;
}

div.pagination {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  ul {
    display: inline-block;
  }
}

.user-info {
  margin-top: 5px;
  border-bottom: 2px solid gray;
  > h4 {
    font-size: 16px;
  }
  .profile {
    margin: 15px 10px 10px 0;
    display: flex;
    justify-content: center;
    img {
      border: 2px solid silver;
      border-radius: 4px;
      // margin-bottom:10px;
    }
    p {
      // display: inline-block;
    }
  }
  .to-profile {
    text-align: right;
  }
}
.aside-menus {
  border-bottom: 2px solid gray;
  li {
    padding: 6px 0;
  }
  .popular-posts {
    border-bottom: 2px solid gray;
    h4 {
      margin-top: 10px;
      font-size: 16px;
    }
    li {
      list-style: decimal;
      margin-left: 30px;
      padding-left: 5px;
    }
  }
  .search-menu {
    border-bottom: 2px solid gray;
    margin-bottom: 7px;
    h4 {
      font-size: 16px;
    }
    input[type="text"] {
      margin-bottom: 10px;
    }
  }
  .down-menu {
    display: none;
    padding-left: 10px;
  }
}
.blue-btn {
  border-radius: 3px;
  padding: 0 10px;
  width: auto;
  display: block;
  float: right;
  background: #428bca;
  color: white;
  border: none;
  margin-bottom: 10px;
  &:hover {
    background: darken(#428bca, 10%);
  }
  &:active {
    background: darken(#428bca, 15%);
  }
}

.main {
  border-right: 2px solid gray;
  min-height: 700px;
  padding-top: 10px;
  >h3 {
    font-size: 28px;
    padding-left: 20px;
  }
}
.post-content {
  h4 {
    font-size: 26px;
    padding: 30px 0;
    text-align: center;
    padding-top: 10px; 
  }
}

.post-show {
  padding-top: 20px;
  .attachment {
    cursor: pointer;
  }
}

.latest-posts {
  .latest {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid silver;
  }
}
.show-this {
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
}
.show-edit-btns {
  float: left;
}
.page-view {
  float: right;
  height: 40px;
  display: flex;
  align-items: center;
  #like-unlike {
    display: inline-block;
  }
  > span {
    display: inline-block;
    padding-left: 10px;
  }
}

.glyphicon-heart {
  font-size: 25px;
}
.gray-heart {
  color: gray;
  &:hover {
    color: lighten(gray, 10%);
  }
}
.red-heart {
  color: #ff0084;
  &:hover {
    color: darken(#ff0084, 10%);
  }
}
.heart-link:hover {
  text-decoration: none;
}
.next-prev {
  padding-bottom: 20px;
}
.show-next {
  a {
    float: left;
    font-size: 16px;
  }
}
.show-prev {
  a {
    float: right;
    font-size: 16px;
  }
}

.form-img {
  border: 2px solid silver;
  border-radius: 10px;
}

.intro-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  img {
    border: 2px solid silver;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .profile-text {
    font-size: 18px;
  }
  h4 {
    align-self: flex-start;
    font-size: 20px;
    margin-bottom: 0;
  }
  
}

.table {
  margin: 20px 0;
  th {
    background-color: #ddd;
  }
  .title-col {
    width: 60%;
  }
  tr {
    .table-link {
      display: block;
    }
  }
}

.comment-section {
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  margin: 15px 0 20px;
  padding: 20px 0;
  .comment-list {
    border: 2px solid silver;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px 10px 5px;
    .comment-user {
      padding-right: 0;
      text-align: center;
      img {
        border: 2px solid silver;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
      }
    }
    .comment-btns {
      text-align: right;
      a {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    .reply-drop-down {
      text-align: center;
    }
    .reply-content {
      display: none;
      border: 2px solid silver;
      border-radius: 4px;
      margin: 0 0 8px 20px;
      padding: 6px;
      .comment-id {
        margin: 0;
      }
    }
    .reply-btn {
      border: 1px solid #428bca;
      padding: 2px 10px;
      margin: 0;
      margin-left: 4px;
    }
    .comment-text {
      .comment-id {
        text-align: right;
      }
    }
    .edit-comment-btn {
      background-color: #5cb85c;
      &:hover {
        background-color: darken($color:#5cb85c, $amount: 10%);
      }
    }
    .reply-comment-form {
      display: none;
      margin-bottom: 10px;
    }
    .edit-comment-form {
      display: none;
      margin-bottom: 10px;
    }
    .dim {
      opacity: 0.3;
    }
  }
  textarea {
    margin: 10px 0;
  }
  .comment-btn {
    float: none;
    margin: 0 auto;
    width: 50%;
    padding: 8px;
  }
}

.not-active {
  opacity: 0.4;
  &:hover {
    cursor: not-allowed;
  }
}

.user-edit {
  h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.signup-now {
  margin-top: 10px;
  margin-bottom: 20px;
}

.required {
  float: right;
}

.setting-link {
  font-size: 18px;
}

.new-post {
  padding-bottom: 30px;
  h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.about-section {
  h3 {
    padding-left: 15px;
    margin-bottom: 30px;
  }
  .about-text {
    font-size: 16px;
    line-height: 32px;
  }
}

.signup, .edit-form {
  padding-bottom: 20px;
}

.notification-container {
  margin-top: 20px;
  .notification-box {
    border: 2px solid silver;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px 10px 0 10px;
    .notification-text {
      margin-bottom: 5px;
    }
    .notification-date {
      margin-bottom: 2px;
      text-align: right;
    }
  }
}
.show-image{
  cursor: pointer;
}

#image-mordal {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 21;
    height: 90%;
  }
  .mordal-remove {
    position: fixed;
    top: 26px;
    right: 26px;
    z-index: 22;
    font-size: 26px;
    color: white;
    cursor: pointer;
  }
}

.large-image {
  cursor: pointer;
}

.login-info {
  margin-top: 15px;
  padding: 10px 0 15px;
  border-top: 2px solid silver;
}
.social-buttons {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    &:hover {
      color: white;
    }
    i {
      padding-right: 6px;
    }
  }
  .btn-twitter {
    background-color: #00ACEE;
    &:hover {
      background-color: darken(#00ACEE, 10%);
    }
  }
  .btn-google {
    background-color: #db4a39;
    &:hover {
      background-color: darken(#DB4A39, 10%);
    }
  }
  .btn-facebook {
    background-color: #39569C;
    &:hover {
      background-color: darken(#39569C, 10%);
    }
  }
}

@media screen and (max-width:990px){
  .main {
    border-right: none;
  }
  .footer-right {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 10px;
    a {
      font-size: 16px;
      background: #428bca;
      border-radius: 8px;
      height: 35px;
      color: white;
      line-height: 35px;
      display: inline-block;
      padding: 0 5px;
      text-decoration: none;
      &:hover {
        background-color: darken($color:#428bca, $amount: 10%);
      }
    }
  }
}

@media screen and (max-width:720px){
  #user-image-mordal {
    img {
      height: auto;
      width: 95%;
    }
  }
}