@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.clearfix::after {
  conetnt: "";
  display: block;
  clear: both;
}

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, Arial, "sans-serif";
}

li {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.container {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
header {
  height: 80px;
  border-bottom: 2px solid gray;
}
.header-left {
  h1 {
    float: left;
    a {
      font-family: 'arial black', Courier, Montserrat, Helvetica, Arial, "sans-serif";
    }
  }
}
.header-right {
  ul {
    float: right;
    li {
      line-height: 80px;
      font-size: 18px;
      float: left;
      padding: 0 10px;
    }
  }
}
.aside-menus {
  border-bottom: 2px solid gray;
}
.user-info {
  border-bottom: 2px solid gray;
  .attachment {
    border: 1px solid gray;
    float: left
  }
  .profile {
    margin-bottom: 10px;
    h3 {
      padding-left: 20px;
      font-size: 20px;
      float: left;
    }
  }
  .to-profile {
    text-align: right;
  }
}
.aside-menus {
  li {
    padding: 6px 0;
  }
  .popular-posts {
    border-bottom: 2px solid gray;
    h4 {
      margin-top: 10px;
      font-size: 16px;
    }
    li {
      list-style: decimal;
      margin-left: 30px;
      padding-left: 5px;
    }
  }
  .search-menu {
    border-bottom: 2px solid gray;
    margin-bottom: 7px;
    h4 {
      font-size: 16px;
    }
    input[type="text"] {
      margin-bottom: 10px;
    }
    .search-btn {
      border-radius: 3px;
      padding: 0 10px;
      width: auto;
      display: block;
      float: right;
      background: #428bca;
      color: white;
      border: none;
      margin-bottom: 10px;
    }
  }
}

.main {
  border-right: 2px solid gray;
  h3 {
    font-size: 28px;
  }
}
.post-content {
  h4 {
    font-size: 26px;
    padding-top: 30px;
    text-align: center;
  }
}

.latest-posts {
  .latest {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
  }
}
.show-this {
  text-align: right;
  padding-right: 10px;
}
.page-view {
  text-align: right;
}

.show-next {
  a {
    float: left;
    font-size: 16px;
  }
}
.show-prev {
  a {
    float: right;
    font-size: 16px;
  }
}

.intro-post {
  h4 {
    font-size: 28px;
  }
}

.table {
  margin: 20px 0;
  th {
    background-color: #ddd;
  }
  .title-col {
    width: 60%;
  }
  tr {
    .table-link {
      display: block;
    }
  }
}

.down-menu {
  display: none;
  padding-left: 10px;
}